# Python virtual environments
venv/
.venv/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS system files
.DS_Store

# IDE configs
.vscode/
.idea/
